[Unit]
Description=kubeadm
Wants=network.target network-online.target scw-setup.service
After=network.target network-online.target scw-setup.service
# scw-setup checks, whether this node actually needs kubernetes.
# if kubernetes is needed, scw-setup will touch the following file.
ConditionPathExists=/tmp/scw-needs-kubeadm-service

[Service]
EnvironmentFile=-/etc/scw-env
ExecStartPre=/usr/bin/curl -L -o /usr/bin/kubectl -z /usr/bin/kubectl -O https://storage.googleapis.com/kubernetes-release/release/${KUBERBETES_VERSION}/bin/linux/amd64/kubectl
ExecStartPre=/usr/bin/curl -L -o /usr/bin/kubelet -z /usr/bin/kubelet -O https://storage.googleapis.com/kubernetes-release/release/${KUBERBETES_VERSION}/bin/linux/amd64/kubelet
ExecStartPre=/usr/bin/curl -L -o /usr/bin/kubeadm -z /usr/bin/kubeadm -O https://storage.googleapis.com/kubernetes-release/release/${KUBERBETES_VERSION}/bin/linux/amd64/kubeadm
ExecStart=/usr/bin/kubeadm init \
        --api-cert-extra-sans=${SCW_IPV4_PUBLIC},{KUBERNETES_MASTER_URL} \
        --service-cidr=172.16.0.0/16 \
        --kubernetes-version=${KUBERNETES_VERSION} \
        --token-ttl=0 \
        --token=${KUBEADM_TOKEN}
RemainAfterExit=yes
Type=oneshot
