[Unit]
Description=Kubernetes Kubelet
Wants=network.target network-online.target scw-setup.service
After=network.target network-online.target scw-setup.service
# scw-setup checks, whether this node actually needs kubernetes.
# if kubernetes is needed, scw-setup will touch the following file.
ConditionPathExists=/tmp/scw-needs-kubelet-service

[Service]
EnvironmentFile=-/etc/scw-env
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests /var/lib/kubelet /opt/bin
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubelet -z /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v1.5.3/bin/linux/amd64/kubelet
ExecStartPre=/bin/chmod +x /opt/bin/kubelet
ExecStart=/opt/bin/kubelet \
        --allow-privileged=true \
        --api_servers="${KUBERNETES_MASTERS}" \
        --client-ca-file=/etc/kubernetes/pki/ca.pem \
        --cluster-dns=172.16.254.254 \
        --cluster-domain=cluster.local \
        --config=/etc/kubernetes/manifests \
        --hostname-override="${KUBERNETES_HOSTNAME}" \
        --node-labels="${KUBERNETES_NODE_LABELS}" \
        --register-schedulable="${KUBERNETES_REGISTER_SCHEDULABLE}" \
        --tls-cert-file=/etc/kubernetes/pki/apiserver.pem \
        --tls-private-key-file=/etc/kubernetes/pki/apiserver-key.pem
Restart=always
RestartSec=10
[Install]

WantedBy=multi-user.target

